@font-face {
  font-family: "Poppins-Light";
  src: url("./font/Poppins/Poppins-Light.eot");
  src: url("./font/Poppins/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("./font/Poppins/Poppins-Light.woff") format("woff"), url("./font/Poppins/Poppins-Light.ttf") format("truetype"), url("./font/Poppins/Poppins-Light.svg#Poppins-Light") format("svg");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./font/Poppins/Poppins-Regular.eot");
  src: url("./font/Poppins/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("./font/Poppins/Poppins-Regular.woff") format("woff"), url("./font/Poppins/Poppins-Regular.ttf") format("truetype"), url("./font/Poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./font/Poppins/Poppins-Bold.eot");
  src: url("./font/Poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("./font/Poppins/Poppins-Bold.woff") format("woff"), url("./font/Poppins/Poppins-Bold.ttf") format("truetype"), url("./font/Poppins/Poppins-Bold.svg#Poppins-Bold") format("svg");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./font/Poppins/Poppins-Medium.eot");
  src: url("./font/Poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("./font/Poppins/Poppins-Medium.woff") format("woff"), url("./font/Poppins/Poppins-Medium.ttf") format("truetype"), url("./font/Poppins/Poppins-Medium.svg#Poppins-Medium") format("svg");
}
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins-Regular", sans-serif;
}

.pos--relative {
  position: relative;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul li {
  list-style: none;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.text--center {
  text-align: center;
}

.footer, .contact, .post, .banner, .menu, header, .about {
  width: 100%;
  overflow: hidden;
}

.about_content {
  width: 100%;
  padding-right: 16px;
  font-size: 0.9rem;
  color: #57606f;
  text-align: justify;
}

/*responsive*/
@media screen and (max-width: 992px) {
  html {
    font-size: 15px;
  }

  .about_img {
    padding-top: 30px;
  }
}
@media screen and (max-width: 756px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 13px;
  }
}
.blog__button {
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  outline: none;
  padding: 5px 15px;
  background-color: #fff;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1rem;
  border: 2px solid #000;
}
.blog__button a {
  color: #262626;
  text-decoration: none;
  font-family: "Poppins-Medium", sans-serif;
  letter-spacing: 1px;
}
.blog__button:hover {
  background-color: #2f3640;
  color: #fff;
}
.blog__button:hover a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins-Medium", sans-serif;
  letter-spacing: 1px;
}

.blog__button--black {
  background-color: #2f3640;
}
.blog__button--black a {
  color: #fff;
}
.blog__button--black:hover {
  background-color: #fff;
}
.blog__button--black:hover a {
  color: #262626;
}

.blog__title {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 10px;
}

.underline_center--black::after {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 32px;
  height: 5px;
  background-color: #262626;
}

header {
  position: fixed;
  padding: 20px 0;
  background-color: #fff;
  z-index: 100;
}
header .logo a {
  color: #262626;
  text-decoration: none;
  font-family: "Poppins-Medium", sans-serif;
  letter-spacing: 1px;
  font-size: 1.4rem;
}
header .menu-icon {
  transform: translate(-20px, -50%);
  -webkit-transform: translate(-20px, -50%);
  -o-transform: translate(-20px, -50%);
  -moz-transform: translate(-20px, -50%);
  -ms-transform: translate(-20px, -50%);
  position: absolute;
  top: 50%;
  right: 20px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
header .menu-icon .menu-icon__bar {
  width: 30px;
  height: 5px;
  background-color: #000;
  margin: 5px 0;
}

.change-menu .bar--2 {
  opacity: 0;
}
.change-menu .bar--1 {
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -o-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
.change-menu .bar--3 {
  transform: rotate(45deg) translate(-8px, -6px);
  -webkit-transform: rotate(45deg) translate(-8px, -6px);
  -o-transform: rotate(45deg) translate(-8px, -6px);
  -ms-transform: rotate(45deg) translate(-8px, -6px);
  transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.menu {
  transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -webkit-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  height: 100vh;
  background-color: #fff;
  top: -100%;
  right: -100%;
  position: fixed;
  background-color: #cac2d0;
}
.menu .menu-list {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.menu .menu-list .menu-list__item {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 1.2rem;
  padding: 5px 0;
  text-align: center;
}
.menu .menu-list .menu-list__item a {
  color: #262626;
  text-decoration: none;
}
.menu .menu-list .menu-list__item a:hover {
  color: #fff;
}

.open-menu {
  right: 0;
  top: 0;
}

.banner {
  background-image: url("./imgs/banner/banner.jpg");
  background-size: contain;
  height: 100vh;
}
.banner .banner-content {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 50px;
  text-align: center;
  letter-spacing: 2px;
}
.banner .banner-content .banner-content__title {
  font-family: "Poppins-Medium", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 5px;
}
.banner .banner-content .banner-content__des {
  font-size: 1.2rem;
  color: #95a5a6;
  padding-bottom: 10px;
}

@media screen and (max-width: 756px) {
  .banner-content {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    height: 80vh;
  }
  .banner .banner-content {
    padding: 30px 15px;
    width: 100%;
  }
  .banner .banner-content .banner-content__title {
    font-size: 2rem;
  }
  .banner .banner-content .banner-content__des {
    font-size: 1rem;
  }
}
.post .post__quote {
  font-size: 0.9rem;
  color: #57606f;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 15px;
}
.post .post-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
}
.post .post-box .post-box__item {
  padding: 7.5px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.post .post-box .post-box__item img {
  width: 100%;
}
.post .post-box .post-box__item .post-box__item-content {
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  position: absolute;
  left: 0;
  bottom: 20px;
  padding: 15px;
  opacity: 0;
}
.post .post-box .post-box__item .post-box__item-content p {
  color: #57606f;
  font-size: 0.9rem;
  padding-bottom: 10px;
}
.post .post-box .post-box__item:hover .bg-hover--white::before {
  opacity: 0.9;
}
.post .post-box .post-box__item:hover .post-box__item-content {
  opacity: 1;
}
.post .bg-hover--white::before {
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
}

@media screen and (max-width: 576px) {
  .post .post-box {
    grid-template-columns: 1fr;
  }
  .post .form-warpper {
    padding-bottom: 15px;
  }
  .post .form-warpper:last-child {
    padding-bottom: 0;
    padding-left: 15px !important;
  }
}
.form {
  max-width: 700px;
  margin: 0 auto;
}
.form .form-input,
.form .form-textarea {
  width: 100%;
  outline: none;
  padding: 7.5px;
  border: 1px solid #262626;
  border-radius: 5px;
  color: #262626;
  font-size: 0.9rem;
}
.form .form-textarea {
  resize: none;
  height: 150px;
}
.form ::placeholder {
  font-size: 0.9rem;
  color: #262626;
  font-family: "Poppins-Medium", sans-serif;
}
.form :-ms-input-placeholder {
  font-size: 0.9rem;
  color: #262626;
  font-family: "Poppins-Medium", sans-serif;
}

.footer {
  text-align: center;
  padding: 50px 0;
  background-color: #cac2d0;
}
.footer .footer-link li {
  display: inline-block;
  padding: 0 15px;
}
.footer .footer-link li a {
  color: #262626;
  text-decoration: none;
  font-family: "Poppins-Medium", sans-serif;
  letter-spacing: 1px;
}

.copyright {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .footer-link li {
    display: block;
    padding: 5px 15px;
  }
}

/*# sourceMappingURL=main.css.map */
