//font
$font-regular: 'Poppins-Regular',
sans-serif;
$font-medium: 'Poppins-Medium',
sans-serif;
//color
$white: #fff;
$black: #000;
$button-hover-color: #2f3640;
$text-color-black: #262626;
$gray: #95a5a6;
$grey: #cac2d0;
$dark-grayish-blue: #57606f;

