*,
body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    margin: 0;
}
.heartbeat {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5eec2;
}
.heartbeat_wrapper {
    padding: 30px 15px;
    max-width: 350px;
    width: 100%;
}
.heartbeat_title {
    padding-bottom: 20px;
    text-align: center;
}
.heartbeat_title h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #416a59;
}
.heartbeat_box {
    width: 100%;
    height: 150px;
    background-color: #a9c25d;
}
.heartbeat_title h2:hover,
.heartbeat_box:hover {
    animation: scale 2s infinite;
}
@keyframes scale {
    from {
        transform: scale(1);
    }
    15% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1);
    }
    45% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
