*,
body {
    padding: 0;
    margin: 0;
}

.html {
    font-size: 16px;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
}

ul li {
    list-style-type: none;
}

.tap {
    width: 100%;
    overflow: hidden;
}

.tabs-header {
    width: 100%;
    overflow: hidden;
    background-color: #d8ebe4;
}
.bg--none {
    background-color: #d8ebe4 !important;
}
.tabs-header__link {
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}

.tabs-header__link a {
    color: #262626;
    font-size: 1.2rem;
    font-weight: bold;
}

.tabs-header__link:hover {
    background-color: #fed049;
    color: #ffffff;
}

.tabs-header__link a:hover {
    text-decoration: none;
}

.tab-content {
    height: 50vh;
    position: relative;
    text-align: center;
    color: #ffffff;
    width: 100%;
}

.tabs-content__item {
    display: none;
    animation: opacity 1s linear;
    position: relative;
    width: 100%;
    height: 100%;
}

.pos-ab--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tabs-content__item--title {
    font-size: 2.5rem;
}

.tabs-content__item--desc {
    font-size: 1.2rem;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.tabs-show-content {
    display: block;
}
.tabs-active a {
    color: #ffffff;
}
/*color background*/
.bg--blue {
    background-color: blue;
}
.bg--red {
    background-color: red;
}
.bg--green {
    background-color: green;
}
