body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: $font-regular;
}

.pos--relative {
    position: relative;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul li {
    list-style: none;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.text--center {
    text-align: center;
}

%box {
    width: 100%;
    overflow: hidden;
}

//about
.about {
    @extend %box;
}

.about_content {
    width: 100%;
    padding-right: 16px;
    font-size: .9rem;
    color: $dark-grayish-blue;
    text-align: justify;
}

/*responsive*/
@media screen and (max-width: 992px) {
    html {
        font-size: 15px;
    }

    .about_img {
        padding-top: 30px;
    }
}

@media screen and (max-width: 756px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 13px;
    }
}