*,
body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

ul {
    margin: 0;
}

ul li {
    list-style-type: none;
}

.menu {
    width: 100%;
    overflow: hidden;
}
.menu-list {
    width: 200px;
    height: 100vh;
    background-color: #659dbd;
    position: fixed;
    top: 0;
    left: 0;
}
.menu-list li {
    padding: 7.5px 15px;
    cursor: pointer;
}
.menu-list li:hover {
    background-color: #daad86;
}
.menu-active {
    background-color: #daad86;
}
.menu-list li a {
    text-decoration: none;
    color: #fff;
}
.menu-content {
    width: 100%;
    overflow: hidden;
    padding: 30px 15px 0 215px;
}
@media screen and (max-width: 756px) {
    .menu-list {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }
    .menu-list {
        display: flex;
    }
    .menu-content {
        padding: 30px 15px;
    }
}
@media screen and (max-width: 576px) {
    .menu-list {
        display: block;
        text-align: center;
    }
}